---
import { Image } from "astro:assets";
import Layout from "../layouts/BaseLayout.astro";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import Section from "../layouts/Section.astro";
import SectionHeader from "../components/SectionHeader.astro";
import InnerPageLayout from "../layouts/InnerPageLayout.astro";
import InnerPageBannerImage from "../components/InnerPageBannerImage.astro";
import image from "../assets/hero.webp";
---

<Layout title="Donate">
  <InnerPageLayout
    heroBannerHeading="Contact us"
    contactFormHeading="Join our bible study"
  >
    <Section>
      <MaxWidthContainer>
        <div class="container">
          <SectionHeader variant="inner">
            <h2>Our Bible Studies</h2>
          </SectionHeader>
          <p class="space">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
            nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
            cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula ut
            sapien molestie eleifend et quis mi.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
            nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
            cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula ut
            sapien molestie eleifend et quis mi.
          </p>
        </div>
      </MaxWidthContainer>
    </Section>
    <Section>
      <MaxWidthContainer>
        <div class="container">
          <SectionHeader variant="inner">
            <h2>1. Child Bible Studies</h2>
          </SectionHeader>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
            nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
            cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula ut
            sapien molestie eleifend et quis mi. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Fusce a nulla eget massa sagittis
            ultricies ut at purus. Mauris iaculis cursus turpis, eu cursus nulla
            eleifend sed. Praesent quis ligula ut sapien molestie eleifend et
            quis mi.
          </p>
        </div>
      </MaxWidthContainer>
      <InnerPageBannerImage>
        <Image src={image} alt="" class="image" />
      </InnerPageBannerImage>
    </Section>
    <Section>
      <MaxWidthContainer>
        <div class="container">
          <SectionHeader variant="inner">
            <h2>2. Young Adult Bible Studies</h2>
          </SectionHeader>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
            nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
            cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula ut
            sapien molestie eleifend et quis mi. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Fusce a nulla eget massa sagittis
            ultricies ut at purus. Mauris iaculis cursus turpis, eu cursus nulla
            eleifend sed. Praesent quis ligula ut sapien molestie eleifend et
            quis mi.
          </p>
        </div>
      </MaxWidthContainer>
      <InnerPageBannerImage>
        <Image src={image} alt="" class="image" />
      </InnerPageBannerImage>
    </Section>
    <Section>
      <MaxWidthContainer>
        <div class="container">
          <SectionHeader variant="inner">
            <h2>3. Adult Bible Studies</h2>
          </SectionHeader>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
            nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
            cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula ut
            sapien molestie eleifend et quis mi. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Fusce a nulla eget massa sagittis
            ultricies ut at purus. Mauris iaculis cursus turpis, eu cursus nulla
            eleifend sed. Praesent quis ligula ut sapien molestie eleifend et
            quis mi.
          </p>
        </div>
      </MaxWidthContainer>
      <InnerPageBannerImage>
        <Image src={image} alt="" class="image" />
      </InnerPageBannerImage>
    </Section>
  </InnerPageLayout>
</Layout>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  /* Would be better to make separate variants, but quick solution and
    site isn't that big */

  :global(
      section:nth-of-type(2),
      section:nth-of-type(3),
      section:nth-of-type(4)
    ) {
    padding-bottom: 0;
  }
</style>
