---
import Layout from "../layouts/BaseLayout.astro";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import Section from "../layouts/Section.astro";
import SectionHeader from "../components/SectionHeader.astro";
import InnerPageLayout from "../layouts/InnerPageLayout.astro";
---

<Layout title="Donate">
  <InnerPageLayout
    heroBannerHeading="Donate to help us"
    contactFormHeading="Get in touch to donate"
  >
    <Section>
      <MaxWidthContainer>
        <div class="container">
          <SectionHeader variant="inner">
            <h2>How your donation will help</h2>
          </SectionHeader>
          <p class="space">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
            nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
            cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula ut
            sapien molestie eleifend et quis mi. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Fusce a nulla eget massa sagittis
            ultricies ut at purus. Mauris iaculis cursus turpis, eu cursus nulla
            eleifend sed. Praesent quis ligula ut sapien molestie eleifend et
            quis mi.
          </p>
          <p class="space">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
            nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
            cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula ut
            sapien molestie eleifend et quis mi. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Fusce a nulla eget massa sagittis
            ultricies ut at purus. Mauris iaculis cursus turpis, eu cursus nulla
            eleifend sed. Praesent quis ligula ut sapien molestie eleifend et
            quis mi.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
            nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
            cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula ut
            sapien molestie eleifend et quis mi.
          </p>
        </div>
      </MaxWidthContainer>
    </Section>
  </InnerPageLayout>
</Layout>
