---
import CircleLink from "./CircleLink.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<article>
  <div class="image-container">
    <CircleLink to="/" text="View video" />
  </div>
  <div class="text-container">
    <header>
      <h3 class="heading">{title}</h3>
    </header>
    <p>{description}</p>
  </div>
</article>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  article {
    :global(.circle-link-container) {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(15%, 15%);
    }
  }

  .image-container {
    position: relative;
    min-height: 20rem;
    margin-bottom: 2rem;
    border-radius: t.$br-small t.$br-large t.$br-small t.$br-large;
    background-color: darkgrey;
  }

  header {
    margin-bottom: 0.75rem;

    .heading {
      font-size: 1.25rem;
      font-family: t.$ff-yeseva;
      color: t.$clr-black;
    }
  }

  p {
    font-weight: 300;
    font-family: t.$ff-poppy;
    color: t.$clr-grey;
    font-size: 0.875rem;
  }
</style>
