<article class="event">
  <div class="hover-container">
    <div class="arrow"></div>
    <p>View event</p>
  </div>
</article>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  .event {
    position: relative;
    width: 100%;
    min-height: 16rem;
    cursor: pointer;
    background-color: t.$clr-black;

    @media (min-width: t.$bp-tablet) {
      min-height: 19rem;
    }

    &:hover .hover-container {
      opacity: 1;
      transform: translate(0, 0);
    }

    .hover-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transform: translate(0, 75%);
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      pointer-events: none;

      .arrow {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background: center / 30% no-repeat url("../assets/arrow-previous.svg")
          t.$clr-tan;
        transform: rotate(180deg);
      }

      p {
        margin-top: 0.75rem;
        color: t.$clr-tan;
        font-size: 0.875rem;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: t.$br-main;
      border: 0.125rem solid t.$clr-green;
      top: 0.5rem;
      left: 0.5rem;
    }
  }
</style>
