<div class="max-width">
  <slot />
</div>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  .max-width {
    margin: auto;

    @media (min-width: t.$bp-desktop) {
      width: min(100%, 80rem);
    }
  }
</style>
