---
interface Props {
  variant?: "landing" | "generic";
}

const { variant = "generic" } = Astro.props;
---

{
  (() => {
    if (variant === "landing") {
      return (
        <div class="max-width landing">
          <slot />
        </div>
      );
    } else {
      return (
        <div class="max-width generic">
          <slot />
        </div>
      );
    }
  })()
}

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  .max-width {
    margin: auto;

    &.landing {
      width: t.$w-max-width-components--landing;
    }

    &.generic {
      width: t.$w-max-width-components--generic;
    }
  }
</style>
