---
import BaseHead from "../components/BaseHead.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Christ Church Sedalia is a church located in Sedalia, MO.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
