---
import CarouselItem from "../components/CarouselItem.astro";

interface Props {
  items: { title: string; description: string }[];
}

const { items } = Astro.props;
---

<div class="carousel">
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        items.map((item) => (
          <div class="swiper-slide">
            <CarouselItem title={item.title} description={item.description} />
          </div>
        ))
      }
    </div>
  </div>
  <div class="navigation-buttons">
    <button class="previous-button"></button>
    <button class="next-button"></button>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Autoplay } from "swiper/modules";
  import "swiper/css";

  const swiper = new Swiper(".swiper", {
    modules: [Navigation, Autoplay],
    loop: true,
    autoplay: {
      delay: 3000,
    },
    breakpoints: {
      320: {
        slidesPerView: 1.1,
        spaceBetween: "16",
      },
      600: {
        slidesPerView: 2.5,
        spaceBetween: "32",
      },
      1000: {
        slidesPerView: 3,
        spaceBetween: "48",
      },
    },

    navigation: {
      nextEl: ".next-button",
      prevEl: ".previous-button",
    },
  });
</script>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  .carousel {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }

  .swiper {
    width: 100%;
    overflow: visible;
  }

  .navigation-buttons {
    margin-top: 2rem;

    button {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 100%;
      border: transparent;
      background-color: transparent;
      cursor: pointer;
    }

    .next-button {
      background: center / 50% no-repeat url("../assets/arrow-next.svg")
        t.$clr-green;
    }

    .previous-button {
      margin-right: 0.25rem;
      border: 0.0625rem solid t.$clr-green;
      background: center / 50% no-repeat url("../assets/arrow-previous.svg");
    }
  }
</style>
