---
interface Props {
  variant?: "paper" | "paper-with-slope" | string;
  id?: string;
}
const { variant = "", id } = Astro.props;
---

{
  () => {
    if (variant === "paper") {
      return (
        <section id={id} class="paper">
          <slot />
        </section>
      );
    } else if (variant === "paper-with-slope") {
      return (
        <section id={id} class="paper-with-slope">
          <div class="slope" />
          <div class="inner">
            <slot />
          </div>
          <div class="slope" />
        </section>
      );
    } else {
      return (
        <section id={id}>
          <slot />
        </section>
      );
    }
  }
}

<style lang="scss">
  @use "../styles/tokens/tokens" as t;
  $slope-height: 12.5rem;

  section:not(.paper-with-slope) {
    padding: t.$pd-section;
  }

  .paper {
    position: relative;
    background: center / cover url("../assets/paper-background.png") t.$clr-tan;
  }

  .paper::before,
  .paper::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    height: 2rem;
  }

  .paper::before {
    top: 0;
    transform: translate(0, -95%);
    background: center / cover no-repeat url("../assets/paper.png");
  }

  .paper::after {
    bottom: 0;
    background: center / cover no-repeat url("../assets/paper.png");
    transform: translate(0, 95%) rotate(180deg);
  }

  .paper-with-slope .inner {
    padding: t.$pd-section;
    background: center / cover url("../assets/paper-background.png") t.$clr-tan;
  }

  .slope {
    width: 100%;
    height: $slope-height;
    background: center / cover url("../assets/paper-slope.png");
  }

  .slope:first-of-type {
    transform: rotate(180deg);
  }
</style>
